@charset "UTF-8";

/* Estilos globais */
*{
    margin: 0px;
}

h3{
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    color: var(--color3);
    padding-top: 4vh;
    padding-bottom: 4vh;
}

:root{
    --color0:#181818;
    --color1:#c8bfbfb3;
    --color2:#eef3f194;
    --color3:#A96737;
    --color4:#181818f6;

}

/* Estilo da Primeira secção */
#secp{
    background-image: url(image/mainImage.jpeg);
    height: 100vh;
}

header{
    height: 115px;
    
}

#identification{
    display: flex;
    height: 87vh;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    color: #A96737;
}

h5{
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    color: var(--color2);
}

nav{
    display: flex;
    padding-top: 45px;
    justify-content: center;
}

a{
    text-decoration: none;
    color: var(--color2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    margin: 0px 18px;
    padding: 6px 10px;
    border-radius: 10px;
}

a:hover{
    background-color: #28272752;
}




/* Estilo da Segunda secção */
#secs{ 
    background-color:var(--color4);
    overflow: hidden;
    height: max-content;
}

#Lado1{
    display: flex;
    height: calc(100vh - 10vh);  
    width: 50vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;

 
}

#Lado2{
    display: flex;
    height: calc(100vh - 10vh);
    width: 50vw;
    justify-content: center;
    align-items: center;
    
    
}

main{
    display: flex;
    width: 50vw;
    justify-content: center;
}

#main1{
   
    height: 50%;
  
}

#main2{
    color: var(--color1);
    width: 50%;
    height: max-content;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span{
    color: #A96737;
}
#tabela{
    margin-top: 35px;
    margin-left: 100px;
    height: max-content;
}
.Dados{
    display: inline-flex;
    font-weight: bolder;
    width:80px;
    height: 35px;
}


/* Estilo da Terceira secção */
#sect{
    background-color: var(--color0);
    height: max-content;
    padding-bottom: 8%;
 
}
#actividade{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    gap: 85px;
    max-height: max-content;
}
#actividade >div{
    height: max-content;
    width: 20vw;
    border: 2px solid #1b1c29c9;
    border-radius: 20px;
}
#actividade >div:hover{
    border: 2px solid var(--color3);
    transform:scale(110%);
    transition-duration: 2s;
}



/* Rodapé */
footer{
    display: flex;
    background-color:var(--color4);
    color: var(--color1);
    justify-content: center;
    max-height: max-content;
    font-size: x-large;
}

#part1{
    margin-top: 20%;
    text-align: center;
}

#part1 >a{
    font-size: x-large;
}

#part2 >div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 100%;
    
   
}

#part2{
    display: flex;
    justify-content: center;
    font-size: x-small;
    margin-top: 10%;
    gap: 30px;
}
.elite{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.elite:hover{
    background-color: gray;
}

#part3{
    margin-top: 10%;
    max-width: max-content;
    height: 100%;
    text-align: center;
}